:root {
    --react-pdf-text-layer: 1;
    --highlight-bg-color: rgba(180, 0, 170, 1);
    --highlight-selected-bg-color: rgba(0, 100, 0, 1);
  }
  
  
  [data-main-rotation='90'] {
    transform: rotate(90deg) translateY(-100%);
  }
  [data-main-rotation='180'] {
    transform: rotate(180deg) translate(-100%, -100%);
  }
  [data-main-rotation='270'] {
    transform: rotate(270deg) translateX(-100%);
  }
  
  .textLayer {
    position: absolute;
    text-align: initial;
    inset: 0;
    overflow: hidden;
    line-height: 1;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    z-index: 2;
  }
  
  .textLayer :is(span, br) {
    color: blue;
    position: absolute;
    white-space: pre;
    cursor: text;
    margin: 0;
    transform-origin: 0 0;
  }

  
  .textLayer .highlight.selected {
    background-color: var(--highlight-selected-bg-color);
  }
  
  /* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
  .textLayer br::selection {
    background: transparent;
  }
  
  .textLayer .endOfContent {
    display: block;
    position: absolute;
    inset: 100% 0 0;
    z-index: -1;
    cursor: default;
    user-select: none;
  }
  
  .textLayer .endOfContent.active {
    top: 0;
  }
  
  .hiddenCanvasElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
  }

  .PDF__highlight__layer{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
  }